<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.EmpMapper">

		<!-- 配置 (多对1) 关系的映射类型 -->
	<resultMap type="com.neusoft.po.Emp" id="emp_dept_map">
		<id property="empno" column="empno" />
		<result property="ename" column="ename" />
		<result property="comm" column="comm" />
		<result property="hiredate" column="hiredate" />
		<result property="job" column="job" />
		<result property="mgr" column="mgr" />
		<result property="sal" column="sal" />
		<result property="deptno" column="deptno" />
		<association property="dept" javaType="com.neusoft.po.Dept">
			<id property="deptno" column="deptno" />
			<result property="dname" column="dname" />
			<result property="loc" column="loc" />
		</association>
	</resultMap>

	<select id="findAll"  resultType="com.neusoft.po.Emp">
		select * from emp order by sal desc
	</select>
	
	<select id="findEmpDeptAll"  resultType="com.neusoft.vo.EmpDeptVO">
		select emp.*,dept.dname,dept.loc 
		from emp left join dept 
		on emp.deptno=dept.deptno
	</select>
	
	<select id="findEmpDeptAll2"  resultMap="emp_dept_map">
		select emp.*,dept.dname,dept.loc 
		from emp left join dept 
		on emp.deptno=dept.deptno
	</select>
	
	<!-- 查询工资2500-5000之间的人的信息 -->
	<select id="findBetween" resultType="com.neusoft.po.Emp">
		select e.*
		from (
			select emp.*
			from emp
			where sal&lt;5000
		) e
		where sal>2500
	</select>
	
	<!-- 查询每个部门下工资最高的人是谁 -->
	<select id="maxEmpsOfDept" parameterType="int" resultType="com.neusoft.po.Emp">
	select *
    from emp
    where deptno=#{deptno }
    and sal=(
    select max(sal)
    from dept left join emp
    on dept.deptno=emp.deptno
    where dept.deptno=#{deptno }
    )
	</select>
</mapper>
