h3>span.price, h3>span.amount {
    font-size: 12px;
    color: #444444;
    font-weight: normal;
}

h3>span.name {
    font-weight: bolder;
    font-size: 20px;
    color: black;
}

h3>span.cost {
    font-weight: bold;
    font-size: 20px;
}
h3 {
    margin: 5px;
}
