<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.pro3.dao.PageDao">
	<select id="selectCount" resultType="int">
		select count(1) total from (select * from message)
	</select>	
	<select id="selectResults" parameterType="Page" resultType="com.neuedu.pro3.bean.Message">
		select * from (
			select rownum rn,t.* 
			from (
				select id, username, title, context, to_char(delivertime, 'yyyy-MM-dd hh24:mi:ss')
				from message order by id desc ) t
			where rownum&lt;=#{currentPage}*#{countPerPage} )
		where rn &gt; (#{currentPage}-1) * #{countPerPage}
	</select>
	
	<select id="queryResults" parameterType="Map" resultType="Message">
		select * from (
			select rownum rn,t.* 
			from (
				select * from message 
				where 1=1
				<if test="gtid != null">
					and id>#{gtid}
				</if>
				<if test="lsid != null">
					and id&lt;#{ltid}
				</if>
				<if test="id != null">
					and id=#{id}
				</if>
				<if test="username != null">
					and username=#{username}
				</if>
				<if test="title != null">
					and title like '%${title}%'
				</if>
				<if test="context != null">
					and context like '%${context}%'
				</if>
				<if test="gt_delivertime != null">
					and delivertime >= to_date(#{gt_delivertime}, 'yyyy-mm-dd')
				</if>
				<if test="lt_delivertime != null">
					and delivertime &lt;= to_date(#{lt_delivertime}, 'yyyy-mm-dd')
				</if>
				<if test="ip != null">
					and ip like'%${ip}%'
				</if>
				) t
			where rownum&lt;=#{page.currentPage}*#{page.countPerPage} )
		where rn &gt; (#{page.currentPage}-1) * #{page.countPerPage}
	</select>
	
</mapper>

