<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.pro3.dao.UserDao">
	<select id="getPasswordByName" parameterType="java.lang.String" resultType="java.lang.String">
		select password from userinfo where name=#{name}
	</select>
	<select id="listAll" resultType="User">
		select * from userinfo order by id
	</select>
	<insert id="addUser" parameterType="User">
		insert into userinfo(id, name, password, balance, other) values (user_id.nextval, #{name}, #{password}, #{balance}, #{other})
	</insert>
</mapper>